# IDEA/Eclipse
.idea/
.settings/

# Gradle Stuff
.gradle/

# Output Dirs
build/
out/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IntelliJ files
.idea/
*.idea
gen/
classes/
out/
build
*build
*.iml
*.ipr
*.iws

#Other
.metadata/
.DS_Store
bash.exe.stackdump